*{
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
}

header img{
    width: 100px;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

article img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    border: dashed 10px #0f4202;
    margin: 10px;
    background-color: #fd71fd;
}
